
  <div class="v55_501">
    <div class="v62_669"></div><span class="v55_532">HOME</span><span class="v55_533">ABOUT</span><span
      class="v55_534">CONTACT US</span><span class="v55_535">FAQS</span>
    <div class="v55_536"></div>
    <div class="v60_560"></div>
    <div class="v74_678"></div>
    <div class="v56_538"></div>
    <div class="v56_540"></div>
    <div class="v56_539"></div><span class="v60_541">add intern</span><span class="v60_550">Add mentor</span><span
      class="v80_1075">View Plan</span><span class="v60_561">logo</span><span class="v60_562">profile</span>
    <div class="v61_579"></div>
    <div class="v61_587"></div>
    <div class="v61_588"></div>
    <div class="v61_589"></div>
    <div class="v61_590"></div>
    <!-- <div class="v61_592"></div> -->
    <span class="v61_596">Shambhavi Tiwari</span><span class="v61_612">Shambhavi
      Tiwari</span><span class="v61_627">Shambhavi Tiwari</span><span class="v61_602">ReIntern</span><span
      class="v61_613">ReIntern</span><span class="v61_628">ReIntern</span><span class="v61_607">Sunil S
      Yadav</span><span class="v61_614">Sunil S Yadav</span><span class="v61_629">Sunil S Yadav</span><span
      class="v61_610">2 months</span><span class="v61_615">2 months</span><span class="v61_630">2 months</span><span
      class="v61_611">Active </span><span class="v61_616">Active </span><span class="v61_631">Active </span><span
      class="v61_597">Name</span><span class="v61_617">Name</span><span class="v61_632">Name</span><span
      class="v61_601">Project Assigned</span><span class="v61_618">Project Assigned</span><span class="v61_633">Project
      Assigned</span><span class="v61_604">Mentor</span><span class="v61_619">Mentor</span><span
      class="v61_634">Mentor</span><span class="v61_605"> Duration</span><span class="v61_620"> Duration</span><span
      class="v61_635"> Duration</span><span class="v61_609">Member Status</span><span class="v62_661">Member
      Status</span><span class="v62_662">Member Status</span>
    <div class="v61_599"></div>
    <div class="v61_622"></div>
    <div class="v61_637"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
    <!-- <div class="v62_663"> -->
      <div class="v62_664"></div>
    <!-- </div> -->
    <!-- <div class="v62_665"> -->
      <div class="v62_666"></div>
    <!-- </div> -->
    <div class="v62_668"></div><span class="v64_670">INTERN LIST </span>
    <div class="v74_679"></div>
    <div class="v74_680"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
  </div>
