<!-- <div class="desktop3-container">
  <div class="desktop3-desktop3">
    <img
      src="/assets/external/rectangle64143-hv84-600w.png"
      alt="Rectangle64143"
      class="desktop3-rectangle6"
    />
    <img
      src="/assets/external/rectangle74143-oage-200h.png"
      alt="Rectangle74143"
      class="desktop3-rectangle7"
    />
    <img
      src="/assets/external/rectangle84144-cdxn-200h.png"
      alt="Rectangle84144"
      class="desktop3-rectangle8"
    />
    <img
      src="/assets/external/rectangle94144-rj8c-200h.png"
      alt="Rectangle94144"
      class="desktop3-rectangle9"
    />
    <span class="desktop3-text"><span>Sign In</span></span>
    <span class="desktop3-text02"><span>Email</span></span>
    <span class="desktop3-text04"><span>Password</span></span>
    <span class="desktop3-text06"><span>Forgot Password ?</span></span>
    <img
      src="/assets/external/vector4144-79hp.svg"
      alt="Vector4144"
      class="desktop3-vector"
    />
    <img
      src="/assets/external/mdipasswordoutline4144-4bd.svg"
      alt="mdipasswordoutline4144"
      class="desktop3-mdipasswordoutline"
    />
    <img
      src="/assets/external/mdieyeoutline4144-3kz3.svg"
      alt="mdieyeoutline4144"
      class="desktop3-mdieyeoutline"
    />
    <span class="desktop3-text08"><span>Welcome to ReIntern!</span></span>
    <span class="desktop3-text10"><span>Login to continue -&gt;</span></span>
    <img
      src="/assets/external/rectangle104845-a0x9-600w.png"
      alt="Rectangle104845"
      class="desktop3-rectangle10"
    />
    <img
      src="/assets/external/rectangle114846-yhe-200h.png"
      alt="Rectangle114846"
      class="desktop3-rectangle11"
    />
    <img
      src="/assets/external/rectangle124846-85ga6-200h.png"
      alt="Rectangle124846"
      class="desktop3-rectangle12"
    />
    <img
      src="/assets/external/rectangle134846-bdny-200h.png"
      alt="Rectangle134846"
      class="desktop3-rectangle13"
    />
    <span class="desktop3-text12"><span>Sign In</span></span>
    <span class="desktop3-text14"><span>Email</span></span>
    <span class="desktop3-text16"><span>Password</span></span>
    <span class="desktop3-text18"><span>Forgot Password ?</span></span>
    <img
      src="/assets/external/vector4846-06.svg"
      alt="Vector4846"
      class="desktop3-vector1"
    />
    <img
      src="/assets/external/mdipasswordoutline4846-epdy.svg"
      alt="mdipasswordoutline4846"
      class="desktop3-mdipasswordoutline1"
    />
    <img
      src="/assets/external/mdieyeoutline4847-xu9.svg"
      alt="mdieyeoutline4847"
      class="desktop3-mdieyeoutline1"
    />
    <span class="desktop3-text20"><span>Login to continue -&gt;</span></span>
    <img
      src="/assets/external/ellipse174145-n53h-600h.png"
      alt="Ellipse174145"
      class="desktop3-ellipse17"
    />
  </div>
</div> -->


  <div class="v41_434">
    
    <button></button>
    <input type="text">
    <!-- <div class="v41_438"></div>
    <div class="v41_439"></div>
    <input type="text">
    <div class="v41_440"><input type="text"></div>
    <div class="v41_441"></div><span class="v41_442">Sign In</span><span class="v41_443">Email</span><span
      class="v41_444">Password</span><span class="v41_445">Forgot Password ?</span>
    <div class="v41_446"></div> -->
    <div class="v41_449">
      <!-- <div class="v41_450"></div> -->
    </div><span class="v41_437">Welcome to ReIntern!</span><span class="v45_455">Login to continue -></span>
    <div class="v48_459"></div>
    <!-- <div class="v48_460"></div> -->
    <input class="v48_461" type="text" name="userName" [(ngModel)]="userName">
    <!-- <div class="v48_461">ssssssssssssssssssssssssssssss</div> -->
    <input class="v48_462" type="password" name="password" [(ngModel)] ="password">
    <!-- <div class="v48_462"></div> -->
    <button class="v48_460" (click)="onSubmit()"><span>Sign In</span></button>
    <!-- <span class="v48_463">Sign In</span> -->
    <span class="v48_464">Email</span>
    <span class="v48_465">Password</span>
    <!-- <span class="v48_466">Forgot Password ?</span> -->
    <!-- <div class="v48_467"></div> -->
    <!-- <div class="v48_468">
      <div class="v48_469"></div>
    </div>
    <div class="v48_470">
      <div class="v48_471"></div>
    </div> -->
    <span class="v48_473">Login to continue -></span>
    <div class="v41_451"></div>
  </div>