<div class="desktop6-container">
  <div class="desktop6-desktop6">
    <img
      alt="Rectangle316266"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/b01658c8-a7c3-4978-ba65-3c126ff3d945?org_if_sml=113134"
      class="desktop6-rectangle31"
    />
    <span class="desktop6-text"><span>HOME</span></span>
    <span class="desktop6-text02"><span>ABOUT</span></span>
    <span class="desktop6-text04"><span>CONTACT US</span></span>
    <span class="desktop6-text06"><span>FAQS</span></span>
    <img
      alt="Ellipse45553"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/fbbf461b-c40d-42db-8ea7-c458551a16c6?org_if_sml=13171"
      class="desktop6-ellipse4"
    />
    <img
      alt="Ellipse56056"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/844aa330-46dc-4049-8ec1-97789ca778f0?org_if_sml=13171"
      class="desktop6-ellipse5"
    />
    <img
      alt="Line19Stroke7467"
      src="/assets/external/line19stroke7467-08am.svg"
      class="desktop6-line1-stroke"
    />
    <img
      alt="Rectangle245653"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/c71eb1cb-fa5a-4254-a58b-67de29f880f0?org_if_sml=118323"
      class="desktop6-rectangle24"
    />
    <img
      alt="Rectangle265654"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/5f67f8de-108c-486d-ac92-29740c7c4030?org_if_sml=118323"
      class="desktop6-rectangle26"
    />
    <img
      alt="Rectangle255653"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/e3a940a5-9438-4114-868d-0e2cd4f74513?org_if_sml=125575"
      class="desktop6-rectangle25"
    />
    <span class="desktop6-text08">Add intern</span>
    <span class="desktop6-text09"><span>Add mentor</span></span>
    <span class="desktop6-text11"><span>View plan</span></span>
    <span class="desktop6-text13"><span>logo</span></span>
    <span class="desktop6-text15"><span>profile</span></span>
    <div class="desktop6-group2">
      <img
        alt="Line166265"
        src="/assets/external/line166265-q04e.svg"
        class="desktop6-line16"
      />
      <img
        alt="Line176266"
        src="/assets/external/line176266-6av.svg"
        class="desktop6-line17"
      />
    </div>
    <div class="desktop6-group3">
      <img
        alt="Line168010"
        src="/assets/external/line168010-y0en.svg"
        class="desktop6-line161"
      />
      <img
        alt="Line178010"
        src="/assets/external/line178010-8yga.svg"
        class="desktop6-line171"
      />
    </div>
    <img
      alt="Rectangle206157"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/81c74f2e-8ecb-475e-8fa6-91b17b310d2e?org_if_sml=131014"
      class="desktop6-rectangle20"
    />
    <img
      alt="Rectangle206158"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/0403e04e-9cf4-471e-b274-c5cc6c6424d8?org_if_sml=15767"
      class="desktop6-rectangle201"
    />
    <img
      alt="Rectangle276158"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/9f4feeab-f435-41b8-b952-a77483e6f5f8?org_if_sml=1806"
      class="desktop6-rectangle27"
    />
    <img
      alt="Rectangle286158"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/9977dc2c-950a-43ea-9214-16d5b038570e?org_if_sml=1806"
      class="desktop6-rectangle28"
    />
    <img
      alt="Rectangle296159"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/76f925bb-cdca-4adb-91d4-716f46a74d7d?org_if_sml=1261"
      class="desktop6-rectangle29"
    />
    <img
      alt="Rectangle306159"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/b1a955ee-8346-4efd-b571-e71e00c79652?org_if_sml=1288"
      class="desktop6-rectangle30"
    />
    <span class="desktop6-text17"><span>Shambhavi Tiwari</span></span>
    <span class="desktop6-text19"><span>Shambhavi Tiwari</span></span>
    <span class="desktop6-text21"><span>Shambhavi Tiwari</span></span>
    <span class="desktop6-text23"><span>ReIntern</span></span>
    <span class="desktop6-text25"><span>ReIntern</span></span>
    <span class="desktop6-text27"><span>ReIntern</span></span>
    <span class="desktop6-text29"><span>Sunil S Yadav</span></span>
    <span class="desktop6-text31"><span>Sunil S Yadav</span></span>
    <span class="desktop6-text33"><span>Sunil S Yadav</span></span>
    <span class="desktop6-text35"><span>2 months</span></span>
    <span class="desktop6-text37"><span>2 months</span></span>
    <span class="desktop6-text39"><span>2 months</span></span>
    <span class="desktop6-text41">
      <span>
        Active
        <span [innerHTML]="raw5kvq"></span>
      </span>
    </span>
    <span class="desktop6-text43">
      <span>
        Active
        <span [innerHTML]="rawe5zq"></span>
      </span>
    </span>
    <span class="desktop6-text45">
      <span>
        Active
        <span [innerHTML]="rawy28b"></span>
      </span>
    </span>
    <span class="desktop6-text47"><span>Name</span></span>
    <span class="desktop6-text49"><span>Name</span></span>
    <span class="desktop6-text51"><span>Name</span></span>
    <span class="desktop6-text53"><span>Project Assigned</span></span>
    <span class="desktop6-text55"><span>Project Assigned</span></span>
    <span class="desktop6-text57"><span>Project Assigned</span></span>
    <span class="desktop6-text59"><span>Mentor</span></span>
    <span class="desktop6-text61"><span>Mentor</span></span>
    <span class="desktop6-text63"><span>Mentor</span></span>
    <span class="desktop6-text65"><span>Duration</span></span>
    <span class="desktop6-text67"><span>Duration</span></span>
    <span class="desktop6-text69"><span>Duration</span></span>
    <span class="desktop6-text71"><span>Member Status</span></span>
    <span class="desktop6-text73"><span>Member Status</span></span>
    <span class="desktop6-text75"><span>Member Status</span></span>
    <img
      alt="Ellipse176159"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/6fd7a157-eef1-48bb-935f-3b9682f03257?org_if_sml=12402"
      class="desktop6-ellipse17"
    />
    <img
      alt="Ellipse186162"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/60b61444-890c-47ea-a436-8df72a017b56?org_if_sml=12402"
      class="desktop6-ellipse18"
    />
    <img
      alt="Ellipse196163"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/3d89c9d0-1033-4dd8-80ed-e8063ba61c8b?org_if_sml=12402"
      class="desktop6-ellipse19"
    />
    <img
      alt="Line206160"
      src="/assets/external/line206160-klkn.svg"
      class="desktop6-line20"
    />
    <img
      alt="Line246162"
      src="/assets/external/line246162-8csl.svg"
      class="desktop6-line24"
    />
    <img
      alt="Line286163"
      src="/assets/external/line286163-kwz.svg"
      class="desktop6-line28"
    />
    <img
      alt="Line216160"
      src="/assets/external/line216160-bdxh.svg"
      class="desktop6-line21"
    />
    <img
      alt="Line256162"
      src="/assets/external/line256162-3zpx.svg"
      class="desktop6-line25"
    />
    <img
      alt="Line296164"
      src="/assets/external/line296164-qeji.svg"
      class="desktop6-line29"
    />
    <img
      alt="Line226160"
      src="/assets/external/line226160-012s.svg"
      class="desktop6-line22"
    />
    <img
      alt="Line266162"
      src="/assets/external/line266162-yg6.svg"
      class="desktop6-line26"
    />
    <img
      alt="Line306164"
      src="/assets/external/line306164-t4n6.svg"
      class="desktop6-line30"
    />
    <img
      alt="phplusbold6266"
      src="/assets/external/phplusbold6266-vlxn.svg"
      class="desktop6-phplusbold"
    />
    <img
      alt="phplusbold6266"
      src="/assets/external/phplusbold6266-6zxh.svg"
      class="desktop6-phplusbold1"
    />
    <img
      alt="IMAGE175516266"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6fa6161e-46a3-4ee8-ae56-4b6b0d2f6236/2668f03d-3dd5-4893-813f-7ee6190f7296?org_if_sml=1894"
      class="desktop6-image17551"
    />
    <span class="desktop6-text77">
      <span class="desktop6-text78">
        INTERN LIST
        <span [innerHTML]="raw748o"></span>
      </span>
    </span>
    <img
      alt="Line31Stroke7467"
      src="/assets/external/line31stroke7467-i7qg.svg"
      class="desktop6-line3-stroke"
    />
    <img
      alt="Line32Stroke7468"
      src="/assets/external/line32stroke7468-cqwo.svg"
      class="desktop6-line3-stroke"
    />
    <img
      alt="Line336467"
      src="/assets/external/line336467-fs8i.svg"
      class="desktop6-line33"
    />
    <img
      alt="Line236467"
      src="/assets/external/line236467-z55o.svg"
      class="desktop6-line23"
    />
    <img
      alt="Line276467"
      src="/assets/external/line276467-rg3s.svg"
      class="desktop6-line27"
    />
  </div>
</div>
